@mixin btn($color) {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	min-width: 3rem;
	padding: .3rem;

	color: hsla(0, 0%, 0%, .7);
	text-align: center;

	& > i {
		font-size: 1.8rem;
	}

	&:active,
	&.active {
		color: $color;
	}

	&:hover {
		background: #eee;
		cursor: pointer;
	}
}

@mixin clear-list() {
	margin: 0;
	padding: 0;

	list-style: none;
}