// Sizes
$header-h: 4rem; 
$toolbar-h: 4.5rem;
$db-header-h: 7rem;
$ruler-w: 2rem;

$textarea-p-l: 8rem;
$textarea-p-r: 8rem;
$textarea-p-t: 5rem;
$textarea-p-b: 0rem;

$textarea-insidep-l: 8rem;
$textarea-insidep-r: 8rem;
$textarea-insidep-t: 8rem;
$textarea-insidep-b: 8rem;

$textarea-h: 50rem;

// Colors
$border-color: hsl(0, 0%, 60%);
$focus-green: hsl(175, 80%, 33%);
$focus-red: hsl(357, 88%, 53%);