.dashboard {
	&-grid {
		display: grid;
		grid-template-columns: 3fr 1fr 1fr;

		& > span:not(:first-child) {
			justify-self: end;
		}
	}

	&-container {
		padding: 3rem;

		h2 {
			margin: 0;

			color: hsl(0 0% 40%);
			font-size: 4rem;
			text-align: center;
		}
	}

	&-manage {
		display: grid;
		grid-template-columns: 2fr 1fr;
		padding: 2rem 0;
	}

	&-add, &-del {
		align-items: center;
		display: flex;
		justify-content: center;
		justify-self: center;
		height: 12rem;
		width: 12rem;

		background: #fff;
		border: 3px solid hsl(140 50% 50%);
		border-radius: 5px;
		color: #000;
		font-size: 5rem;
		font-weight: bold;
		text-decoration: none;
		transition: background .3s,
								color .3s;

		&:hover {
			background: hsl(140 50% 50%);
			color: #fff;
		}
	}

	&-del {
			justify-self: end;

			border: 3px solid hsl(0 50% 50%);
			cursor: pointer;
			
			&:hover {
				background: hsl(0 50% 50%);
			}
		}

	&-notes {
		padding-top: 3rem;

		border-top: 3px solid hsl(0 0% 95%);
		
		&__fields {
			padding: .4rem 2rem;

			color: hsl(0 0% 30%);
			font-size: 1.8rem;
			font-weight: bold;

			& > span {
				cursor: pointer;
			}
		}

		&__list {
			padding: 0;

			list-style: none;

			h3 {
				color: hsl(0 0% 20%);
				font-size: 3rem;
				text-align: center;
			}

			&-item {
				position: relative;

				&:hover > .dashboard-notes__list-del {
					display: flex;
				}
			}
			&-del {
				position: absolute;
				top: 50%;
				right: 0;

				display: none;
				transform: translate(0, -50%);

				border-radius: 5px;
				color: hsl(0 50% 50%);
				cursor: pointer;
				transition: background .3s,
										color .3s;

				&:hover {
					background: hsl(0 50% 50%);
					color: #fff;
				}
			}
		}

		&__link {
			padding: .8rem 2rem;

			border-radius: 5px;
			color: hsl(140 50% 40%);
			font-size: 2.1rem;
			text-decoration: none;
			transition: background .3s,
									color .3s;

			&:hover {
				background: hsl(0 0% 95%);
				color: hsl(140 50% 30%);
			}
		}

	}
}