.header {
	padding: .5rem 1.5rem;

	outline: 3px solid transparent;
	transition: outline .3s;

	&:hover {
		outline: 3px solid hsl(0 0% 95%);
	}
	&:focus {
		outline: 3px solid hsl(0 50% 50%);
	}

	&-container {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 1rem 5rem;

		border-bottom: 3px solid hsl(0 0% 95%);
		font-size: 3rem;
	}

	&-exit {
		display: flex;
		padding: .5rem;

		border-radius: 5px;
		color: #000;
		cursor: pointer;
		text-decoration: none;
		transition: background .3s,
								color .3s;

		&:hover {
			background: hsl(0 0% 95%);
			color: hsl(0 50% 50%);
		}
	}
}
