@import 'header';
@import 'toolbar';
@import 'textarea';
@import 'dashboard';

:root {
	font-size: 10px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	box-sizing: inherit;
	font-size: 1.4rem;
}