@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~normalize.css";

@import "_variables.scss";
@import "_mixins.scss";

@import "header.scss";
@import "toolbar.scss";
@import "textarea.scss";
@import "dashboard.scss";

:root {
	font-size: 10px;
}

*,
*::after,
*::before {
	box-sizing: border-box;

	margin: 0;
	padding: 0; 
}

body { 
	font-family: 'Roboto', sans-serif;
	font-size: 1.4rem;
}