.docs__ruler {
	position: absolute;
	top: $header-h + $toolbar-h;
	left: 0;
	right: 0;

	.ruler-v {
		position: absolute;
		top: 0;
		left: 0;

		height: $textarea-h + $textarea-p-t - $ruler-w;
		margin-top: $ruler-w;
		width: $ruler-w;

		border-right: 2px solid $border-color;
		border-bottom: 2px solid $border-color;

		.top,
		.bottom {
			position: absolute;
			left: 0;

			display: flex;
			align-items: center;
			height: $ruler-element;
			width: 100%;

			background: $border-color;
			border-radius: 5px;
			cursor: row-resize;
		}
		.top {
			top: $textarea-p-t + $textarea-insidep-t - $ruler-w - $ruler-element / 2;
		}
		.bottom {
			bottom: $textarea-p-b + $textarea-insidep-b - $ruler-element / 2;
		}

		.top::after,
		.bottom::after {
			content: '';
			position: absolute;
			left: 0;
			z-index: -100;

			height: 1px;
			width: 100vw;

			background: $focus-green;
			opacity: 0;
		}
	}

	.ruler-h {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		height: $ruler-w;

		border-bottom: 2px solid $border-color;

		.left,
		.right {
			position: absolute;
			top: 0;
			
			display: flex;
			justify-content: center;
			height: 100%;
			width: $ruler-element;

			background: $border-color;
			border-radius: 5px;
			cursor: col-resize;
		}
		.left {
			left: $ruler-w + $textarea-p-l + $textarea-insidep-l - $ruler-element / 2;
		}
		.right {
			right: $textarea-p-r + $textarea-insidep-r - $ruler-element / 2;
		}

		.left::after,
		.right::after {
			content: '';
			position: absolute;
			top: 0;
			z-index: -100;

			height: $textarea-h + $textarea-p-t;
			width: 1px;

			background: $focus-green;
			opacity: 0;
		}
	}

	.top:hover,
	.bottom:hover,
	.right:hover,
	.left:hover {
		background: $focus-green;
	}

	.top:active::after,
	.bottom:active::after,
	.left:active::after,
	.right:active::after {
		opacity: 1;
		z-index: 1;
	}
}