.docs__textarea {
	position: absolute;
	top: $header-h + $toolbar-h;
	left: 0;
	right: 0;

	padding-left: $textarea-p-l + $ruler-w;
	padding-right: $textarea-p-r;
	padding-top: $textarea-p-t;
	padding-bottom: $textarea-p-b;

	& .textarea {
		min-height: $textarea-h;
		padding-left: $textarea-insidep-l;
		padding-right: $textarea-insidep-r;
		padding-top: $textarea-insidep-t;
		padding-bottom: $textarea-insidep-b;
		width: 100%;

		border: none;
		box-shadow: 0 2px 6px $border-color;
		overflow: hidden;
		resize: none;
	}
}