.textarea {
	&-container {
		position: relative;

		max-width: 800px;
		margin: 0 auto;

		border-radius: 5px;
		box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
	}

	&-editor {
		padding: 3rem;

		border-radius: 5px;
  	background: hsl(0 0% 95%);
  	font-size: 21px;
  	white-space: pre-line;
  	word-wrap: anywhere;

		&__label {
			position: absolute;
  		bottom: 10px;
  		right: 10px;

  		color: hsl(0 0% 70%);
  		font-size: 16px;
  		font-weight: bold;
		}
	}
}